body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-image: url("marvin-meyer-SYTO3xs06fU-unsplash.jpg"); */
    
}

.container{
    display: flex;
    justify-content:space-between;
    max-width: 700px;
    width: 145%;
    background-color: rgb(255, 255, 255);
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

.stureg{
    display: flex;
    align-items: center;
    /* height: 400px; */
    width: 300px;
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    margin: 20px;
    text-align: center;
}

.avatar2, .avatar3{
    
}

a{
    text-decoration: none;
    color: rgba(11, 11, 228, 0.808);
    font-size: larger;
    font-style: bold;
}

img{
    height: 200px;
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.bing{
    padding-right: 20px;
}